<div class="flex-1 flex items-center">
  <!-- LOGO -->
  <a>
    <%= link_to root_path, class: "no-underline hover:no-underline text-2xl lg:text-5xl text-black m-5 lg:ml-10" do %>
      <div class="flex w-auto space-x-2">
          <div class="flex align-items-center">
            <h1 class="font-title-play">Loquacious</h1>
          </div>
      </div>
    <% end %>
  </a>
</div>
