<div class="container m-auto">
  <div class="opacity-30 bg-cover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url('https://cdn.shopify.com/s/files/1/0285/1316/products/w0106_1s_Blue-Watercolor-Pattern-Wallpaper-for-Walls-Outside-the-Lines_Repeating-Pattern-Sample-1.jpg'); height: 75vh;">
    <div class="mx-auto flex flex-wrap content-center h-full w-4/6">
      <h1 class="w-full font-title-play text-3xl">Bienvenue sur Loquacious</h1>
      <p class="font-body-philo text-xl">Découvre chaque jour un mot.</p>
    </div>
      <p class="font-title-play text-4xl -mt-10 pt-1 text-center"><%= link_to 'Tous les mots', words_path  %></p>
  </div>
</div>

