<div class="container m-auto">
  <div class="opacity-30 bg-cover" style="background-image: url('https://cdn.shopify.com/s/files/1/0285/1316/products/w0280_1s_Chevrons-Pattern-Wallpaper-for-Walls-Rose-Chevrons_Repeating-Pattern-Sample-1.jpg?v=1604089034'); height: 75vh;">
<div class="mx-auto flex flex-wrap content-center h-full w-4/6">
  <h1 class="w-full font-title-play text-3xl">Le mot d'aujourd'hui</h1>
  <p class="font-body-philo text-xl"><%= link_to "Juste ici.", word_path(@words.last) %></p>
</div>
  <p class="font-title-play text-4xl -mt-10 pt-1 text-center">Des bisous</p>

</div>

